
:root {
    --clr-principalWhatsapp: #10171f;
    --clr-segundarioWhatsapp: rgb(0, 60, 52);
    --clr-terciarioWhatsapp: rgb(160, 219, 233);
    --clr-parrafos: white;
    --neomorfismo-sombra-clara: rgba(255, 255, 255, 0.5);
    --neomorfismo-sombra-oscura: rgba(0, 0, 0, 0.521);
  }
  
  .contenedor_general_CHAT {
    position: fixed;
    width: 0;
    height: 57vh;
    flex-direction: column;
    border-radius: 1vh;
    background-image: url(./chatLocal/imgChat/fondo\ whatsapp.png);
    background-position: center;
    background-size: contain;
    object-fit: cover;
    overflow: hidden;
    right: 3vh;
    opacity: 0;
    z-index: 400;
    top: 17vh;
    box-shadow: 4px 8px 16px var(--neomorfismo-sombra-oscura),
      -8px -8px 16px var(--neomorfismo-sombra-oscura);
  
  }
  
  #abrir_contenedor:checked+label+.contenedor_general_CHAT {
    display: block;
    opacity: 1;
    width: 35vh;
  }
  
  input[type="checkbox"] {
    display: none;
  }
  
  .icono_whats_app {
    position: fixed;
    width: 7vh;
    cursor: pointer;
    top: 86%;
    right: 20px;
    z-index: 200;
    animation-name: inima_boton;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-out;
  }
  
  @keyframes inima_boton {
    0% {
  
      filter: drop-shadow(-10px -10px 10px var(--clr-segundario));
      -webkit-filter: drop-shadow(-10px -10px 10px var(--clr-segundario));
      top: 88%;
      filter: drop-shadow(5px 5px 10px var(--clr-terciario));
    }
  
  }
  
  
  .contenedor_titulo_chat {
    position: relative;
    width: 100%;
    height: 7vh;
    top: 0;
    background-color: var(--clr-principalWhatsapp);
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 1vh;
    z-index: 200;
  
  }
  
  .cont_online {
    display: flex;
  
  }
  
  .cont_img {
    position: relative;
    width: 3vh;
    height: 3vh;
    margin: 0 1vh;
    z-index: -1;
  }
  
  .cont_img::before {
    position: absolute;
    content: "";
    width: 1vh;
    height: 1vh;
    background-color: rgb(49, 127, 58);
    border-radius: 100%;
    z-index: 1;
    right: -5px;
    top: 1.8vh;
  }
  
  .img_encabeazado {
    position: relative;
    width: 100%;
    height: 100%;
    border-radius: 6vh;
  }
  
  .name_asesor {
    position: absolute;
    color: var(--clr-parrafos);
    font-size: 1.3vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    top: 1.5vh;
  
  }
  
  .onlie {
    position: relative;
    font-size: .8vh;
    font-weight: 450;
    color: var(--clr-parrafos);
    margin-top: 1.5vh;
  
  }
  
  #chat-container {
    position: relative;
    width: 100%;
    overflow-y: scroll;
    height: 80%;
    display: flex;
    flex-direction: column;
    padding: 1vh;
  }
  
  /* **************stilos de scrolll overflow**************** */
  #chat-container::-webkit-scrollbar {
    width: .5vh;
  
  }
  
  
  #chat-container::-webkit-scrollbar-thumb {
    background-color: var(--clr-segundarioWhatsapp);
  
  }
  
  /* animaciones tres punticos */
  @keyframes typing {
    0% {
      content: '.';
    }
  
    33% {
      content: '..';
    }
  
    66% {
      content: '...';
    }
  
    100% {
      content: '';
    }
  }
  
  .typing-indicator {
    color: gray;
    font-style: italic;
    font-size: .4vh;
  }
  
  .typing-indicator::after {
    content: '';
    display: inline-block;
    width: 1em;
    text-align: left;
    animation: typing 1s steps(3, end) infinite;
  }
  
  .message-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: .8vh;
    color: gray;
    margin-top: 5px;
  }
  
  .timestamp {
    position: absolute;
    right: 27px;
    margin-bottom: 2vh;
  }
  
  .checkmarks {
    position: absolute;
    color: rgb(58, 163, 243);
    /* Cambia a azul para los chulitos de visto */
    font-size: 1.2vh;
    right: 5px;
    margin-bottom: 2vh;
  }
  
  .user-message {
    position: relative;
    width: auto;
    background: var(--clr-segundarioWhatsapp);
    padding: 5px;
    border-radius: 5px;
    color: var(--clr-parrafos);
    font-size: 1.3vh;
    margin-top: 1.5rem;
    margin-left: 5vh;
  }
  
  
  
  .bot-message {
    background: var(--clr-principalWhatsapp);
    margin-bottom: 5px;
    padding: 8px;
    border-radius: 8px;
    max-width: 80%;
    height: auto;
    text-align: left;
    margin-top: 1vh;
    color: var(--clr-parrafos);
    font-size: 1.3vh;
    line-height: 1.7vh;
  }
  
  .cont_barramensage {
    position: relative;
    width: auto;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: .5vh;
    padding: 0 .8vh;
  }
  
  input[type="text"] {
    width: 100%;
    padding: .5vh;
    border-radius: 15px;
    background-color: var(--clr-principalWhatsapp);
    border: none;
    z-index: 100;
    color: var(--clr-parrafos);
    font-size: 1.3vh;
    padding: 1vh;
  }
  
  .placeholder {
    font-size: 1vh;
    color: var(--clr-parrafos);
  }
  
  button {
    position: relative;
    width: auto;
    padding: 10px;
    border-radius: 10px;
    background: var(--clr-segundarioWhatsapp);
    border: transparent;
    cursor: pointer;
    z-index: 550;
    border-radius: 100%;
    font-size: 1vh;
  }
  
  .icono_enviar {
    position: relative;
    width: 1vh;
    height: 1vh;
  
  }